.NavigationItem {
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;

    > a {
        text-decoration: none;
        color: white;
        height: 100%;
        padding: 1.6rem 1rem;
        border-bottom: 4px solid transparent;
        display: block;

        &:hover, &:active, &.is-active {
            background-color: #8f5c2c;
            border-bottom: 4px solid #40a4c8;
            color: white;
        }
    }
}
